{% extends "layouts/base.html" %}

{% block body %}



    <style>

        .button {
            background-color: #1c87c9;
            -webkit-border-radius: 60px;
            border-radius: 60px;
            border: none;
            color: #eeeeee;
            cursor: pointer;
            display: inline-block;
            font-family: Comic Sans MS;
            font-size: 20px;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
        }
        @keyframes glowing {
            0% {
                background-color: #5f2afd;
                box-shadow: 0 0 5px #5f2afd;
            }
            50% {
                background-color: #8761f8;
                box-shadow: 0 0 20px #8761f8;
            }
            100% {
                background-color: #5f2afd;
                box-shadow: 0 0 5px #5f2afd;
            }
        }
        .button {
            animation: glowing 1300ms infinite;
        }


        table, th, td {
            border:1px solid #4709ff;
        }

        <style>
         .p1 {
             font-family: "Times New Roman", Times, serif;
         }

        .p2 {
            font-family: Arial, Helvetica, sans-serif;
        }

        .p3 {
            color: rgba(255, 255, 255, 0.99);
            font-family: "Monaco", "Monaco", fantasy;
        }

        body {
            background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
            background-color: #cccccc;
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>

    </style>

    <center>
    <h1 class = "p3" style="text-align:center; ">"Kiss Me More" — Doja Cat, ft. SZA</h1>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <p class = "p3" style="text-align:center;">"Pop music’s favorite chameleon’s reign remains uninterrupted. Doja Cat, a 25-year-old LA native hot off the release of her third album, Planet Her, moonlights in many genres: hip-hop, R&B, disco, and electro, tying her excursions together with an undeniable, resplendent joy. That’s certainly true here, on this sticky-as-bubblegum roller rink flirtation featuring SZA." <br></br>-Esquire.com</p>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <br>

    <marquee behavior="alternate" direction="left" scrollamount = "3">
    <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />
        <img src="https://i1.sndcdn.com/artworks-okjyqYkwqztiAo9B-mxAzog-t500x500.jpg" width="95" height="95" alt="Natural" />





    </marquee>

    <iframe width="420" height="345" src="https://www.youtube.com/watch?v=0EVVKs6DQLo">
    </iframe>
    <nav>

    <p class = "p3" style="text-align:center;">  </>

    <a class="button" href="http://127.0.0.1:5000/Song/">Click To Return to the Song Review</a>


{% endblock %}

{% block background %}
{% endblock %}

