{% extends "layouts/base.html" %}

{% block body %}



    <style>

        .button {
            background-color: #1c87c9;
            -webkit-border-radius: 60px;
            border-radius: 60px;
            border: none;
            color: #eeeeee;
            cursor: pointer;
            display: inline-block;
            font-family: Comic Sans MS;
            font-size: 20px;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
        }
        @keyframes glowing {
            0% {
                background-color: #5f2afd;
                box-shadow: 0 0 5px #5f2afd;
            }
            50% {
                background-color: #8761f8;
                box-shadow: 0 0 20px #8761f8;
            }
            100% {
                background-color: #5f2afd;
                box-shadow: 0 0 5px #5f2afd;
            }
        }
        .button {
            animation: glowing 1300ms infinite;
        }


        table, th, td {
            border:1px solid #4709ff;
        }

        <style>
         .p1 {
             font-family: "Times New Roman", Times, serif;
         }

        .p2 {
            font-family: Arial, Helvetica, sans-serif;
        }

        .p3 {
            color: rgba(255, 255, 255, 0.99);
            font-family: "Monaco", "Monaco", fantasy;
        }

        body {
            background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
            background-color: #cccccc;
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>

    </style>

    <center>
    <h1 class = "p3" style="text-align:center; ">"Solar Power" — Lorde</h1>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <p class = "p3" style="text-align:center;">"Lorde gets back to the minimalism of her breakthrough single “Royals” on the verses of this one, but then you blink three times and you feel it kicking in: the hook to be bellowed at pool parties until autumn. It’s a little George Michael’s “Freedom ‘90,” it’s a little Primal Scream’s “Loaded,” the video definitely takes a cue from Humira, and while none of us has successfully made a bong out of a fennel bulb, that doesn’t mean we won’t keep trying. We have all wondered whether we can kick it, especially this year, but I think Lorde is right: yeah. We can." <br></br>-Esquire.com</p>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <br>

    <marquee behavior="alternate" direction="left" scrollamount = "3">
    <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210611082617-lorde-solar-power-music-video-super-tease.jpg" width="145" height="80" alt="Natural" />

    </marquee>


    <img src="https://i.ytimg.com/vi/wvsP_lzh2-8/maxresdefault.jpg" alt="Weeknd" width="600" height="355">
    <br>
    <a class="button" href="https://www.youtube.com/watch?v=wvsP_lzh2-8">Click To Watch The Music Video</a>
    <nav>

    <p class = "p3" style="text-align:center;">  </>

    <br>

    <a class="button" href="http://127.0.0.1:5000/Song/">Click To Return to the Song Review</a>


{% endblock %}


{% block background %}
{% endblock %}

