{% extends "layouts/base.html" %}

{% block body %}
<!- Try building a new body here ->

<head>
    <title>HTML Background Color</title>
</head>
<body style="background-color:lightpink;">

<p><center>
 Hello There! Welcome to our homepage?
</center> </p>
<center>
    <img src="https://c.tenor.com/DkJGKMfgR6wAAAAM/debby-ryan-pull-back-hair.gif" style="width:300px;height:300px;">
    <p>Thank you for visiting! </p>

</body>

<p>future home page</p>



{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}