{% extends "layouts/base.html" %}

{% block body %}



    <style>

        .button {
            background-color: #1c87c9;
            -webkit-border-radius: 60px;
            border-radius: 60px;
            border: none;
            color: #eeeeee;
            cursor: pointer;
            display: inline-block;
            font-family: Comic Sans MS;
            font-size: 20px;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
        }
        @keyframes glowing {
            0% {
                background-color: #5f2afd;
                box-shadow: 0 0 5px #5f2afd;
            }
            50% {
                background-color: #8761f8;
                box-shadow: 0 0 20px #8761f8;
            }
            100% {
                background-color: #5f2afd;
                box-shadow: 0 0 5px #5f2afd;
            }
        }
        .button {
            animation: glowing 1300ms infinite;
        }


        table, th, td {
            border:1px solid #4709ff;
        }

        <style>
         .p1 {
             font-family: "Times New Roman", Times, serif;
         }

        .p2 {
            font-family: Arial, Helvetica, sans-serif;
        }

        .p3 {
            color: rgba(255, 255, 255, 0.99);
            font-family: "Monaco", "Monaco", fantasy;
        }

        body {
            background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
            background-color: #cccccc;
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>

    </style>

    <center>
    <h1 class = "p3" style="text-align:center; ">“MONTERO (Call Me By Your Name)” — Lil Nas X</h1>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <p class = "p3" style="text-align:center;">"But don’t sleep on the song itself, an unrequited love song to a self-destructive possibly-closeted man who “lives in the dark,” from a narrator just as afflicted with internalized homophobia, wanting nothing to do with the boys “that’s in my league, I wanna **** the ones I envy.” In a release-day Instagram post, Lil Nas X said he wrote this song for his fearful 14-year-old self, with “love from the future.” Here’s hoping that kid can see past the visuals and the cable-news outrage and appreciate the honest, nuanced and challenging look at grown-up gay life. —Dave Holmes" <br></br>-Esquire.com</p>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <br>

    <marquee behavior="alternate" direction="left" scrollamount = "3">
    <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />
        <img src="https://img.myjournal.com/prod/2021/04/28/07/aa9ee3b91a09f754a166f76fc77bdc1b/instagram-via-@lilnas0-x.jpg?d=768x768&q=95" width="90" height="80" alt="Natural" />




    </marquee>

    <iframe width="420" height="345" src="https://www.youtube.com/watch?v=6swmTBVI83k">
    </iframe>
    <nav>

    <p class = "p3" style="text-align:center;">  </>

    <a class="button" href="http://127.0.0.1:5000/Song/">Click To Return to the Song Review</a>

{% endblock %}

{% block background %}
{% endblock %}

