{% extends "layouts/base.html" %}

{% block body %}



    <style>


        .box{
         overflow-y: visible;
        }


        .button {
            background-color: #1c87c9;
            -webkit-border-radius: 60px;
            border-radius: 60px;
            border: none;
            color: #eeeeee;
            cursor: pointer;
            display: inline-block;
            font-family: Comic Sans MS;
            font-size: 20px;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
        }
        @keyframes glowing {
            0% {
                background-color: #5f2afd;
                box-shadow: 0 0 5px #5f2afd;
            }
            50% {
                background-color: #8761f8;
                box-shadow: 0 0 20px #8761f8;
            }
            100% {
                background-color: #5f2afd;
                box-shadow: 0 0 5px #5f2afd;
            }
        }
        .button {
            animation: glowing 1300ms infinite;
        }


        table, th, td {
            border:1px solid #4709ff;
        }

        <style>
         .p1 {
             font-family: "Times New Roman", Times, serif;
         }

        .p2 {
            font-family: Arial, Helvetica, sans-serif;
        }

        .p3 {
            color: rgba(255, 255, 255, 0.99);
            font-family: "Monaco", "Monaco", fantasy;
        }

        body {
            background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
            background-color: #cccccc;
            background-repeat: no-repeat;
            background-size: cover;
        }
        div.polaroid {
            width: 250px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
        }



    </style>

    </style>

    <center>

    <h1 class = "p3" style="text-align:center; ">Top 10 Songs of 2021</h1>
    &nbsp;&nbsp;

    &nbsp;&nbsp;
    <br>


    <div style="width: 100%;">
        <div style="width: 50%; height: 100px; float: left; ">
            <br>
            <br>
            <h1><a class="button" href="http://127.0.0.1:5000/Lorde/">#1 "Solar Power" — Lorde</a></h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1><a class="button" href="http://127.0.0.1:5000/DojaCat/">#2 "Kiss Me More" — Doja Cat, ft. SZA</a></h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a class="button" href="http://127.0.0.1:5000/BTS/">#3 "Butter" — BTS</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a class="button" href="http://127.0.0.1:5000/LilNasX/">#4 “MONTERO (Call Me By Your Name)” — Lil Nas X</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a class="button" href="http://127.0.0.1:5000/JustinBieber/">#5 “Peaches” — Justin Bieber ft. Daniel Caesar, Giveon</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a class="button" href="http://127.0.0.1:5000/BrunoMars/">#6 “Leave The Door Open” — Silk Sonic</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a class="button" href="http://127.0.0.1:5000/OliviaRodrigo/">#7 “Driver’s License” — Olivia Rodrigo</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a class="button" href="http://127.0.0.1:5000/Weeknd/">#8 “Save Your Tears” — The Weeknd</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a class="button" href="http://127.0.0.1:5000/Stray/">#9 “Gods Menu” — Stray Kids</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a class="button" href="http://127.0.0.1:5000/Jonas/">#10 “Leave Before You Love Me” — Jonas Brothers</a>
        </div>
        <div style="margin-left: 50%; height: 100px; " class="polaroid">
            <img src= "https://i.ytimg.com/vi/wvsP_lzh2-8/mqdefault.jpg" width="300" height="170" alt="Natural" />
            <br>
            <img src= "https://i.ytimg.com/vi/_VdV95GYaZk/maxresdefault.jpg" width="300" height="170" alt="Natural" />
            <br>
            <img src= "https://i.ytimg.com/vi/WMweEpGlu_U/maxresdefault.jpg" width="300" height="170" alt="Natural" />
            <br>
            <img src= "https://i.insider.com/60649a8d6183e1001981983e?width=700" width="300" height="170" alt="Natural" />
            <br>
            <img src= "https://i.ytimg.com/vi/tQ0yjYUFKAE/maxresdefault.jpg" width="300" height="170" alt="Natural" />
            <br>
            <img src= "https://media.pitchfork.com/photos/604163cbb75b48835704864d/2:1/w_790,h_395,c_limit/Main%20Press%20Photo%20-%20Silk%20Sonic.jpg" width="300" height="170" alt="Natural" />
            <br>
            <img src= "https://i.ytimg.com/vi/ZmDBbnmKpqQ/maxresdefault.jpg" width="300" height="170" alt="Natural" />
            <br>
            <img src= "https://i.ytimg.com/vi/XXYlFuWEuKI/maxresdefault.jpg" width="300" height="170" alt="Natural" />
            <br>
            <img src= "https://www.indigomusic.com/wp-content/uploads/2020/06/maxresdefault-75.jpg" width="300" height="170" alt="Natural" />
            <br>
            <img src= "https://i.ytimg.com/vi/hmUyEDG7Jy0/maxresdefault.jpg" width="300" height="170" alt="Natural" />
            <br>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <nav>




{% endblock %}

{% block background %}
{% endblock %}

