{% extends "layouts/base.html" %}

{% block body %}



    <style>

        .button {
            background-color: #1c87c9;
            -webkit-border-radius: 60px;
            border-radius: 60px;
            border: none;
            color: #eeeeee;
            cursor: pointer;
            display: inline-block;
            font-family: Comic Sans MS;
            font-size: 20px;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
        }
        @keyframes glowing {
            0% {
                background-color: #5f2afd;
                box-shadow: 0 0 5px #5f2afd;
            }
            50% {
                background-color: #8761f8;
                box-shadow: 0 0 20px #8761f8;
            }
            100% {
                background-color: #5f2afd;
                box-shadow: 0 0 5px #5f2afd;
            }
        }
        .button {
            animation: glowing 1300ms infinite;
        }


        table, th, td {
            border:1px solid #4709ff;
        }

        <style>
         .p1 {
             font-family: "Times New Roman", Times, serif;
         }

        .p2 {
            font-family: Arial, Helvetica, sans-serif;
        }

        .p3 {
            color: rgba(255, 255, 255, 0.99);
            font-family: "Monaco", "Monaco", fantasy;
        }

        body {
            background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
            background-color: #cccccc;
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>

    </style>

    <center>
    <h1 class = "p3" style="text-align:center; ">Squid Game</h1>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <p class = "p3" style="text-align:center;">"quid Game's unflinching brutality is not for the faint of heart, but sharp social commentary and a surprisingly tender core will keep viewers glued to the screen - even if it's while watching between their fingers." <br></br>-Rotten Tomatoes</p>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <br>

    <marquee behavior="alternate" direction="left" scrollamount = "3">
    <img src="https://cdn.vox-cdn.com/thumbor/vmRga6mG5sihYrHyZ43WswwtyIU=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22911132/EN_SQdGame_Main_PlayGround_Horizontal_RGB_PRE.jpeg" width="125" height="80" alt="Natural" />
        <img src=" https://bloximages.newyork1.vip.townnews.com/foxcarolina.com/content/tncms/assets/v3/editorial/f/4d/f4dc81c1-8649-525b-89c1-1bac9fb8400d/61660c93d0087.image.jpg?crop=1088%2C1088%2C408%2C0&resize=1200%2C1200&order=crop%2Cresize" width="95" height="80" alt="Natural" />
        <img src="https://images.theconversation.com/files/423960/original/file-20210930-32-1p48uwe.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C5700%2C3803&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip" width="125" height="80" alt="Natural" />
        <img src="https://cdn.vox-cdn.com/thumbor/vmRga6mG5sihYrHyZ43WswwtyIU=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22911132/EN_SQdGame_Main_PlayGround_Horizontal_RGB_PRE.jpeg" width="125" height="80" alt="Natural" />
        <img src=" https://bloximages.newyork1.vip.townnews.com/foxcarolina.com/content/tncms/assets/v3/editorial/f/4d/f4dc81c1-8649-525b-89c1-1bac9fb8400d/61660c93d0087.image.jpg?crop=1088%2C1088%2C408%2C0&resize=1200%2C1200&order=crop%2Cresize" width="95" height="80" alt="Natural" />
        <img src="https://images.theconversation.com/files/423960/original/file-20210930-32-1p48uwe.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C5700%2C3803&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip" width="125" height="80" alt="Natural" />
        <img src="https://cdn.vox-cdn.com/thumbor/vmRga6mG5sihYrHyZ43WswwtyIU=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22911132/EN_SQdGame_Main_PlayGround_Horizontal_RGB_PRE.jpeg" width="125" height="80" alt="Natural" />
        <img src=" https://bloximages.newyork1.vip.townnews.com/foxcarolina.com/content/tncms/assets/v3/editorial/f/4d/f4dc81c1-8649-525b-89c1-1bac9fb8400d/61660c93d0087.image.jpg?crop=1088%2C1088%2C408%2C0&resize=1200%2C1200&order=crop%2Cresize" width="95" height="80" alt="Natural" />
        <img src="https://images.theconversation.com/files/423960/original/file-20210930-32-1p48uwe.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C5700%2C3803&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip" width="125" height="80" alt="Natural" />
        <img src="https://cdn.vox-cdn.com/thumbor/vmRga6mG5sihYrHyZ43WswwtyIU=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22911132/EN_SQdGame_Main_PlayGround_Horizontal_RGB_PRE.jpeg" width="125" height="80" alt="Natural" />
        <img src=" https://bloximages.newyork1.vip.townnews.com/foxcarolina.com/content/tncms/assets/v3/editorial/f/4d/f4dc81c1-8649-525b-89c1-1bac9fb8400d/61660c93d0087.image.jpg?crop=1088%2C1088%2C408%2C0&resize=1200%2C1200&order=crop%2Cresize" width="95" height="80" alt="Natural" />
        <img src="https://images.theconversation.com/files/423960/original/file-20210930-32-1p48uwe.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C5700%2C3803&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip" width="125" height="80" alt="Natural" />
        <img src="https://cdn.vox-cdn.com/thumbor/vmRga6mG5sihYrHyZ43WswwtyIU=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22911132/EN_SQdGame_Main_PlayGround_Horizontal_RGB_PRE.jpeg" width="125" height="80" alt="Natural" />
        <img src=" https://bloximages.newyork1.vip.townnews.com/foxcarolina.com/content/tncms/assets/v3/editorial/f/4d/f4dc81c1-8649-525b-89c1-1bac9fb8400d/61660c93d0087.image.jpg?crop=1088%2C1088%2C408%2C0&resize=1200%2C1200&order=crop%2Cresize" width="95" height="80" alt="Natural" />
        <img src="https://images.theconversation.com/files/423960/original/file-20210930-32-1p48uwe.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C5700%2C3803&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip" width="125" height="80" alt="Natural" />
        <img src="https://cdn.vox-cdn.com/thumbor/vmRga6mG5sihYrHyZ43WswwtyIU=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22911132/EN_SQdGame_Main_PlayGround_Horizontal_RGB_PRE.jpeg" width="125" height="80" alt="Natural" />
        <img src=" https://bloximages.newyork1.vip.townnews.com/foxcarolina.com/content/tncms/assets/v3/editorial/f/4d/f4dc81c1-8649-525b-89c1-1bac9fb8400d/61660c93d0087.image.jpg?crop=1088%2C1088%2C408%2C0&resize=1200%2C1200&order=crop%2Cresize" width="95" height="80" alt="Natural" />
        <img src="https://images.theconversation.com/files/423960/original/file-20210930-32-1p48uwe.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C5700%2C3803&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip" width="125" height="80" alt="Natural" />
    </marquee>

    <img src="https://www.groundedreason.com/wp-content/uploads/2021/09/Netflix-Squid-Game-poster-1200x633-1.jpg" alt="Weeknd" width="600" height="325">
    <br>
    <a class="button" href="https://www.netflix.com/title/81040344">Click To View Squid Game on Netflix</a>
    <nav>

    <p class = "p3" style="text-align:center;">  </>

    <br>

    <a class="button" href="http://127.0.0.1:5000/Movie/">Click To Return to the Movie Review</a>


{% endblock %}


{% block background %}
{% endblock %}

