<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

{% set overview = "https://docs.google.com/document/d/1XcHNurxEvFBZuBIZhxlTkx_ClMmk2kVWZFs-sb4uy2E/edit" %}
{% set repo = "https://github.com/Gennalynb123/flask_portfolio/projects/2" %}
{% set scrumboard = "https://poway.instructure.com/" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <div class="col-12">
        <h1 style="font-size:70px;">LmAo</h1>
    </div>

    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

        <div class="col-12">
            <p>Hello, {{name}}!</p>
        </div>

        <div class="col-12">
            <form action="/greet" id="greet" method="POST" >
                <label for="name">Monkey?</label>
                <input name="name" id="name">
                <input type="submit" value="Enter!">
            </form>
        </div>

    </div>



    <div class="row" style="padding-left: 10%;">
        {% block links %}
            <div class="col-3">
                <a href="{{ overview }}" class="btn">Journal</a>
            </div>

            <div class="col-3">
                <a href="{{ repo }}" class="btn">Scrumboard</a>
            </div>

            <div class="col-3">
                <a href="{{ scrumboard }}" class="btn">MyConnect</a>
            </div>

        {% endblock %}
    </div>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
        <script src="{{ url_for('static', filename='three.r119.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vanta.rings.min.js') }}"></script>
        <script>
            VANTA.RINGS({
                el: "body",
                mouseControls: true,
                touchControls: true,
                gyroControls: false,
                minHeight: 200.00,
                minWidth: 200.00,
                scale: 1.00,
                scaleMobile: 1.00
            })
        </script>
{% endblock %}
