{% extends "layouts/base.html" %}

{% block background %}
{% endblock %}


{% block body %}

    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">




        <title>What song are you?</title>





        <!--[if lt IE 9]>
        <script src="/html5shiv.js"></script>
        <![endif]-->

        <!--[if lte IE 7]>
        <style type="text/css">
            html body #contentmenu #menu ul li ul li:hover ul {
                display:none;
            }
        </style>
        <![endif]-->
    </head>




    </header>

    <div id="container">
    <div id="not-affys">
    <div id="content">






    <h1>What Song Are You?</h1>



    <p>Read and answer each question. Then press the submit button to find out which song you are :o</p>

    <form action="Results.html" method="GET">

        <fieldset>
            <legend>Question 1</legend>
            <h4>Your crush asks you out. What do you do?</h4>
            <ul class="nolist">
                <li><input type="radio" name="q1" id="q1x1" value="nc" > <label for="q1x1">Say yes, of course! It's your crush, after all.</label></li>
                <li><input type="radio" name="q1" id="q1x2" value="mr"> <label for="q1x2">Reject them. You may like looking at them from afar, but you're not looking for an actual relationship and they need to understand that.</label></li>
                <li><input type="radio" name="q1" id="q1x3" value="ce"> <label for="q1x3">Immediately tell them that you've always liked them too.</label></li>
                <li><input type="radio" name="q1" id="q1x4" value="fd"> <label for="q1x4">Ask them if this is a dare or a trick or something.</label></li>
                <li><input type="radio" name="q1" id="q1x5" value="r"> <label for="q1x5">Ask if you can think about it for a while. You're not sure if you're ready for it.</label></li>
                <li><input type="radio" name="q1" id="q1x6" value="lc"> <label for="q1x6">Accept, but in a humourous, lighthearted manner. You don't want this to be too serious.</label></li>
                <li><input type="radio" name="q1" id="q1x7" value="nf"> <label for="q1x7">Attempt to say yes with moderate success.</label></li>
                <li><input type="radio" name="q1" id="q1x8" value="rrs"> <label for="q1x8">This couldn't happen; you don't have any crushes and wouldn't get any.</label></li>
                <li><input type="radio" name="q1" id="q1x9" value="s"> <label for="q1x9">Stare at them blankly.</label></li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Question 2</legend>
            <h4>Somebody other than your crush, i.e. somebody you don't have any romantic interest in, asks you out. What do you do then?</h4>
            <ul class="nolist">
                <li><input type="radio" name="q2" id="q2x1" value="ner" > <label for="q2x1">Tell them very carefully that they're a nice person but you don't like them that way and it will be better for both of you if you don't date.</label></li>
                <li><input type="radio" name="q2" id="q2x2" value="nef"> <label for="q2x2">Say yes, but only because you don't want to hurt their feelings.</label></li>
                <li><input type="radio" name="q2" id="q2x3" value="mc"> <label for="q2x3">Tell them bluntly that you're not interested. No use sugarcoating things.</label></li>
                <li><input type="radio" name="q2" id="q2x4" value="nrl"> <label for="q2x4">Say yes, figuring you might get over your other crush and start to like them if you get to know them better.</label></li>
                <li><input type="radio" name="q2" id="q2x5" value="nfe"> <label for="q2x5">Get awkward and try to dance around the question, afraid that you'll hurt their feelings if you say no but knowing that you'd get yourself into an uncomfortable situation if you said yes.</label></li>
                <li><input type="radio" name="q2" id="q2x6" value="nl"> <label for="q2x6">Tell them that you don't really like them that way, but you'll do it anyway if they want.</label></li>
                <li><input type="radio" name="q2" id="q2x7" value="fde"> <label for="q2x7">Desperately wish it hadn't happened.</label></li>
                <li><input type="radio" name="q2" id="q2x8" value="sr"> <label for="q2x8">Stand there and blink before making some sort of attempt to explain the situation.</label></li>
                <li><input type="radio" name="q2" id="q2x9" value="d"> <label for="q2x9">This couldn't happen. Nobody would ever ask <em>you</em> out.</label></li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Question 3</legend>
            <h4>Your country is going to elect a new leader (hypothetically). Are you going to vote?</h4>
            <ul class="nolist">
                <li><input type="radio" name="q3" id="q3x1" value="cr" > <label for="q3x1">Yes. It is important to let one's voice be heard and you take politics seriously.</label></li>
                <li><input type="radio" name="q3" id="q3x2" value="mll"> <label for="q3x2">Yes, but you don't really take it seriously and mostly just like to poke fun at the candidates and vote for Mickey Mouse.</label></li>
                <li><input type="radio" name="q3" id="q3x3" value="nefd"> <label for="q3x3">Yes, because the state of the world today deeply worries you and you want to at least attempt to make a difference.</label></li>
                <li><input type="radio" name="q3" id="q3x4" value="mfd"> <label for="q3x4">No. All the candidates suck and it won't make any difference who wins; you're screwed either way.</label></li>
                <li><input type="radio" name="q3" id="q3x5" value="s"> <label for="q3x5">No. You don't care much about politics.</label></li>
                <li><input type="radio" name="q3" id="q3x6" value="fs"> <label for="q3x6">No, because somebody else probably knows better than you which candidate should win and you'd rather just leave it to those people to vote.</label></li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Question 4</legend>
            <h4>What would your dream job be?</h4>
            <ul class="nolist">
                <li><input type="radio" name="q4" id="q4x1" value="ne" > <label for="q4x1">Something that will allow you to stay at home with your family or meet your friends as much as possible.</label></li>
                <li><input type="radio" name="q4" id="q4x2" value="rf"> <label for="q4x2">Something solid and reliable.</label></li>
                <li><input type="radio" name="q4" id="q4x3" value="mrc"> <label for="q4x3">Something very well paid.</label></li>
                <li><input type="radio" name="q4" id="q4x4" value="ne"> <label for="q4x4">Something having to do with the things you're most interested in and passionate about.</label></li>
                <li><input type="radio" name="q4" id="q4x5" value="mc"> <label for="q4x5">Something that people will admire or respect you for.</label></li>
                <li><input type="radio" name="q4" id="q4x6" value="fd"> <label for="q4x6">Something not too challenging.</label></li>
                <li><input type="radio" name="q4" id="q4x7" value="lf"> <label for="q4x7">You'll take whatever you can get.</label></li>
                <li><input type="radio" name="q4" id="q4x8" value="el"> <label for="q4x8">Whatever seems the most fun at the time.</label></li>
                <li><input type="radio" name="q4" id="q4x9" value="s"> <label for="q4x9">You haven't really thought about it.</label></li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Question 5</legend>
            <h4>What kinds of Pokémon do you primarily tend to like?</h4>
            <ul class="nolist">
                <li><input type="radio" name="q5" id="q5x1" value="mr" > <label for="q5x1">Ones that have been valuable to you in competitive battling.</label></li>
                <li><input type="radio" name="q5" id="q5x2" value="cr"> <label for="q5x2">Ones that can hit fast and hard.</label></li>
                <li><input type="radio" name="q5" id="q5x3" value="fr"> <label for="q5x3">Ones that can take a few hits.</label></li>
                <li><input type="radio" name="q5" id="q5x4" value="el"> <label for="q5x4">Ones whose design you think looks good.</label></li>
                <li><input type="radio" name="q5" id="q5x5" value="ne"> <label for="q5x5">Pokémon that you've used for a while in-game.</label></li>
                <li><input type="radio" name="q5" id="q5x6" value="ned"> <label for="q5x6">Pokémon that nobody else seems to like.</label></li>
                <li><input type="radio" name="q5" id="q5x7" value="nl"> <label for="q5x7">You like all of them, really.</label></li>
                <li><input type="radio" name="q5" id="q5x8" value="s"> <label for="q5x8">You don't really form much of an opinion on them.</label></li>
            </ul>
        </fieldset>
        white_check_mark
        eyes
        raised_hands





        12:13
        <fieldset>
            <legend>Question 6</legend>
            <h4>When do you feel best?</h4>
            <ul class="nolist">
                <li><input type="radio" name="q6" id="q6x1" value="ne" > <label for="q6x1">When you're with close friends or family.</label></li>
                <li><input type="radio" name="q6" id="q6x2" value="me"> <label for="q6x2">When releasing your stress and anger through exercise or violent video games.</label></li>
                <li><input type="radio" name="q6" id="q6x3" value="frd"> <label for="q6x3">Alone at home with a good book.</label></li>
                <li><input type="radio" name="q6" id="q6x4" value="nec"> <label for="q6x4">When you've just helped somebody.</label></li>
                <li><input type="radio" name="q6" id="q6x5" value="e"> <label for="q6x5">When somebody has given you a compliment.</label></li>
                <li><input type="radio" name="q6" id="q6x6" value="cl"> <label for="q6x6">At a party where you can blend in and meet new people.</label></li>
                <li><input type="radio" name="q6" id="q6x7" value="mr"> <label for="q6x7">When you've won some sort of competition.</label></li>
                <li><input type="radio" name="q6" id="q6x8" value="ced"> <label for="q6x8">When you've just succeeded at something you've been working on for a long time.</label></li>
                <li><input type="radio" name="q6" id="q6x9" value="s"> <label for="q6x9">In bed.</label></li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Question 7</legend>
            <h4>What do you first and foremost look for in a partner?</h4>
            <ul class="nolist">
                <li><input type="radio" name="q7" id="q7x1" value="fe" > <label for="q7x1">Loyalty.</label></li>
                <li><input type="radio" name="q7" id="q7x2" value="nl"> <label for="q7x2">Being able to laugh and have a good time with the person.</label></li>
                <li><input type="radio" name="q7" id="q7x3" value="nce"> <label for="q7x3">Something that just 'clicks' about them.</label></li>
                <li><input type="radio" name="q7" id="q7x4" value="fds"> <label for="q7x4">That they love you.</label></li>
                <li><input type="radio" name="q7" id="q7x5" value="ne"> <label for="q7x5">All-around getting along with them.</label></li>
                <li><input type="radio" name="q7" id="q7x6" value="mr"> <label for="q7x6">Being reasonably well-off.</label></li>
                <li><input type="radio" name="q7" id="q7x7" value="mfdr"> <label for="q7x7">You don't want a partner.</label></li>
                <li><input type="radio" name="q7" id="q7x8" value="sl"> <label for="q7x8">Anything goes.</label></li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Question 8</legend>
            <h4>What is the meaning of life?</h4>
            <ul class="nolist">
                <li><input type="radio" name="q8" id="q8x1" value="mfd" > <label for="q8x1">To eat or be eaten.</label></li>
                <li><input type="radio" name="q8" id="q8x2" value="ncel"> <label for="q8x2">To live it to its fullest.</label></li>
                <li><input type="radio" name="q8" id="q8x3" value="ne"> <label for="q8x3">Love and friendship.</label></li>
                <li><input type="radio" name="q8" id="q8x4" value="l"> <label for="q8x4">Forty-two.</label></li>
                <li><input type="radio" name="q8" id="q8x5" value="mrd"> <label for="q8x5">To pass on your genes and then die.</label></li>
                <li><input type="radio" name="q8" id="q8x6" value="frd"> <label for="q8x6">Life has no meaning.</label></li>
                <li><input type="radio" name="q8" id="q8x7" value="me"> <label for="q8x7">That's a stupid question.</label></li>
                <li><input type="radio" name="q8" id="q8x8" value="s"> <label for="q8x8">You don't know.</label></li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Question 9</legend>
            <h4>Do you believe in God?</h4>
            <ul class="nolist">
                <li><input type="radio" name="q9" id="q9x1" value="ce" > <label for="q9x1">Yes. There has to be something out there.</label></li>
                <li><input type="radio" name="q9" id="q9x2" value="nce"> <label for="q9x2">Yes. You look at all the wonderful things in the world and just know there has to be a divine power responsible for it all.</label></li>
                <li><input type="radio" name="q9" id="q9x3" value="f"> <label for="q9x3">You hope God exists, but can't really say you believe it very strongly.</label></li>
                <li><input type="radio" name="q9" id="q9x4" value="ed"> <label for="q9x4">No. You see all the evil in the world and come to the conclusion that a benevolent deity would never allow it all to happen.</label></li>
                <li><input type="radio" name="q9" id="q9x5" value="med"> <label for="q9x5">God is dead, and we killed him.</label></li>
                <li><input type="radio" name="q9" id="q9x6" value="ll"> <label for="q9x6">Yes, and he has a great sense of humour.</label></li>
                <li><input type="radio" name="q9" id="q9x7" value="mcrl"> <label for="q9x7">No, but you are a devout Pastafarian.</label></li>
                <li><input type="radio" name="q9" id="q9x8" value="cr"> <label for="q9x8">No. There is no good reason to believe there should be one, and science is slowly rendering religion obsolete.</label></li>
                <li><input type="radio" name="q9" id="q9x9" value="s"> <label for="q9x9">You're agnostic or don't think about it much.</label></li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Question 10</legend>
            <h4>Why are you taking this personality test?</h4>
            <ul class="nolist">
                <li><input type="radio" name="q10" id="q10x1" value="rl" > <label for="q10x1">You stumbled upon it from a link and wanted to see what you'd get.</label></li>
                <li><input type="radio" name="q10" id="q10x2" value="nf"> <label for="q10x2">Somebody asked you to take it, so you did.</label></li>
                <li><input type="radio" name="q10" id="q10x3" value="ce"> <label for="q10x3">You were hoping you'd get a Pokémon you liked.</label></li>
                <li><input type="radio" name="q10" id="q10x4" value="mrd"> <label for="q10x4">You were just bored and had nothing better to do.</label></li>
                <li><input type="radio" name="q10" id="q10x5" value="el"> <label for="q10x5">You just suddenly wanted to take a personality test, so you searched for one.</label></li>
                <li><input type="radio" name="q10" id="q10x6" value="rc"> <label for="q10x6">You're trying to figure out how it works.</label></li>
                <li><input type="radio" name="q10" id="q10x7" value="nel"> <label for="q10x7">You enjoy personality tests in general.</label></li>
                <li><input type="radio" name="q10" id="q10x8" value="sl"> <label for="q10x8">You don't really know. You were just browsing the site and this was the next section you came to.</label></li>
            </ul>

        </fieldset>

    </form>

    <a href="Results.html">Results</a>




{% endblock %}

