{% extends "layouts/base.html" %}

{% block body %}



    <style>

        .button {
            background-color: #1c87c9;
            -webkit-border-radius: 60px;
            border-radius: 60px;
            border: none;
            color: #eeeeee;
            cursor: pointer;
            display: inline-block;
            font-family: Comic Sans MS;
            font-size: 20px;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
        }
        @keyframes glowing {
            0% {
                background-color: #5f2afd;
                box-shadow: 0 0 5px #5f2afd;
            }
            50% {
                background-color: #8761f8;
                box-shadow: 0 0 20px #8761f8;
            }
            100% {
                background-color: #5f2afd;
                box-shadow: 0 0 5px #5f2afd;
            }
        }
        .button {
            animation: glowing 1300ms infinite;
        }


        table, th, td {
            border:1px solid #4709ff;
        }

        <style>
         .p1 {
             font-family: "Times New Roman", Times, serif;
         }

        .p2 {
            font-family: Arial, Helvetica, sans-serif;
        }

        .p3 {
            color: rgba(255, 255, 255, 0.99);
            font-family: "Monaco", "Monaco", fantasy;
        }

        body {
            background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
            background-color: #cccccc;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .container {
            position: relative;
            width: 100%;
            max-width: 400px;
        }

        .container img {
            width: 100%;
            height: auto;
        }

        .container .btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-image: https://i.ytimg.com/vi/XXYlFuWEuKI/maxresdefault.jpg;
            color: white;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
        }

        .container .btn:hover {
            background-image: https://i.ytimg.com/vi/XXYlFuWEuKI/maxresdefault.jpg;
        }

    </style>

    </style>

    <center>
    <h1 class = "p3" style="text-align:center; ">“Save Your Tears” — The Weeknd</h1>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <p class = "p3" style="text-align:center;">"Directed by Cliqua, the video finds the Weeknd dressed up once again as his After Hours lounge lizard character, his face swollen and bruised, but still delivering an exuberant rendition of “Save Your Tears” to a lifeless, buttoned-up crowd all wearing party masks. During the performance, the Weeknd saunters through the crowd, stepping on tables, spraying champagne on the guests (though he appears to be doing something far less sanitary at first) and eventually walking up to the one woman in the audience without a mask and having her hold a gun to his forehead." <br></br>-Rolling Stones</p>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <br>

    <marquee behavior="alternate" direction="left" scrollamount = "3">
    <img src="https://i.ytimg.com/vi/XXYlFuWEuKI/maxresdefault.jpg" width="140" height="80" alt="Natural" />
        <img src="https://dlisted.com/wp-content/uploads/2021/01/TheWeekndSaveYourTears.jpg" width="110" height="80" alt="Natural" />
        <img src="https://i.ytimg.com/vi/XXYlFuWEuKI/maxresdefault.jpg" width="140" height="80" alt="Natural" />
        <img src="https://dlisted.com/wp-content/uploads/2021/01/TheWeekndSaveYourTears.jpg" width="110" height="80" alt="Natural" />
        <img src="https://i.ytimg.com/vi/XXYlFuWEuKI/maxresdefault.jpg" width="140" height="80" alt="Natural" />
        <img src="https://dlisted.com/wp-content/uploads/2021/01/TheWeekndSaveYourTears.jpg" width="110" height="80" alt="Natural" />
        <img src="https://i.ytimg.com/vi/XXYlFuWEuKI/maxresdefault.jpg" width="140" height="80" alt="Natural" />
        <img src="https://dlisted.com/wp-content/uploads/2021/01/TheWeekndSaveYourTears.jpg" width="110" height="80" alt="Natural" />
        <img src="https://i.ytimg.com/vi/XXYlFuWEuKI/maxresdefault.jpg" width="140" height="80" alt="Natural" />
        <img src="https://dlisted.com/wp-content/uploads/2021/01/TheWeekndSaveYourTears.jpg" width="110" height="80" alt="Natural" />
        <img src="https://i.ytimg.com/vi/XXYlFuWEuKI/maxresdefault.jpg" width="140" height="80" alt="Natural" />
        <img src="https://dlisted.com/wp-content/uploads/2021/01/TheWeekndSaveYourTears.jpg" width="110" height="80" alt="Natural" />
        <img src="https://i.ytimg.com/vi/XXYlFuWEuKI/maxresdefault.jpg" width="140" height="80" alt="Natural" />
        <img src="https://dlisted.com/wp-content/uploads/2021/01/TheWeekndSaveYourTears.jpg" width="110" height="80" alt="Natural" />
        <img src="https://i.ytimg.com/vi/XXYlFuWEuKI/maxresdefault.jpg" width="140" height="80" alt="Natural" />
        <img src="https://dlisted.com/wp-content/uploads/2021/01/TheWeekndSaveYourTears.jpg" width="110" height="80" alt="Natural" />
        <img src="https://i.ytimg.com/vi/XXYlFuWEuKI/maxresdefault.jpg" width="140" height="80" alt="Natural" />
        <img src="https://dlisted.com/wp-content/uploads/2021/01/TheWeekndSaveYourTears.jpg" width="110" height="80" alt="Natural" />
        <img src="https://i.ytimg.com/vi/XXYlFuWEuKI/maxresdefault.jpg" width="140" height="80" alt="Natural" />
        <img src="https://dlisted.com/wp-content/uploads/2021/01/TheWeekndSaveYourTears.jpg" width="110" height="80" alt="Natural" />



    </marquee>



    <div class="container">
        <img src="https://i.ytimg.com/vi/XXYlFuWEuKI/maxresdefault.jpg" alt="Weeknd" style="width:100%">
        <button class="btn" href ="https://www.youtube.com/watch?v=XXYlFuWEuKI"></button>
        <a class="button" href="https://www.youtube.com/watch?v=XXYlFuWEuKI">Click To Watch The Music Video</a>
    </div>

    <nav>

    <p class = "p3" style="text-align:center;">  </>



{% endblock %}

{% block background %}
{% endblock %}

